alert tcp any any -> any any (msg:"match JA3 digest"; ja3.hash; content:"4287b6079ba0c8f574ae4d871aed15f9"; sid:100000001; rev:1;)

alert tcp any any -> any any (msg: "TTL matches CND"; ttl:63; flow: from_server; sid:100000004; rev:1;)

alert tcp [$HOME_NET, !172.16.1.10] any -> $EXTERNAL_NET 1025:65535 (msg:"A non standard port was requested HOME -> EXTERNAL"; sid:100000005; rev:2;)

alert tcp any any -> any any (msg: "Matched TCP flags for CND"; tcp.flags:AP; threshold: type threshold, track by_src, count 6, seconds 60; sid:100000006;)

